html, body{
    width: 100%;
    height: 100%;
}
.bx-wrapper, .bx-viewport, .slider{
    width: 100%;
    height: 100%;
}
.background__01{
    width: 100%;
    height: 100%;
    background: url("../images/a.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.background__02{
    width: 100%;
    height: 100%;
    background: url("../images/b.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.background__03{
    width: 100%;
    height: 100%;
    background: url("../images/c.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.overlay{
    width:100%;
    height:100%;
    background: url("../images/16.png");
    position: absolute;
    top: 0;
    z-index: 10;
}
/* z-index의 Default값은 0이다 z-index의 값을 지정해주면 겹쳐있는 사진의 우선순위를 정해줄 수 있게 되어 우선순위가 높은 사진은 위로 올라오게 된다. background__01,background__02,background__03은 z-index가 0이기 떄문에 overlay의 아래에 위치하게 된다.
z-index가 같다면 html에서의 작성 순서로 위치가 결정된다.
*/

.contents{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -210px;
    margin-top: -121px;
    z-index: 11;
    text-align: center;/*텍스트 가운데 정렬*/
    font-family:"Malgun Gothic",sans-serif;
}
/*
html에서 div를 작성하면 줄바꿈을 한 후 div내용이 작성된다. 이렇게 작성된 내용을 css에서 가공하여 내용의 위치, 색상 등을 조절해줄 수 잇다.
<div class="CLASSNAME"></div>
CLASSNAME을 CSS에서 불러와 작성을 시작한다.
*/

.contents__name{
    font-size: 64px;
    font-weight: bold;
    color: white;
    margin-bottom: 25px; /*아래의 내용과 25px떨어뜨려라*/
}
.contents__job{
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 50px;
}
.contents__list{ /* html에서 li의 줄바꿈으로 인해 li 콘텐츠들 사이에 공백이 생긴다. 이러한 공백을 없애기 위해 contents__list를 선언해주고 font-size를 0으로 지정해준다. 하지만 이는 .contents__list > li에 상속되기 때문에 li 콘텐츠의 글씨가 0px이 된다. 이를 해결하기 위해 .contents__list > li에서도 font-size를 지정해준다.*/
    font-size: 0px;
}
.contents__list > li{
    display: inline-block;
    width: 52px;
    height: 52px;
    line-height: 52px;
    border: 1px solid white; /*테두리 1px*/
    border-radius: 50%; /*원 모양*/
    font-size: 16px;
    margin-right: 20px;
} /*클래스 ul의 li들을 묶어서 꾸며준다.
    display: inline-block ul의 내용을 일렬로 정렬해준다.
*/
.contents__list > li:last-child{
    margin-right: 0px;
}
.tistory{
    width: 40px;
    height: 30px;
    border-radius: 50%; /*원 모양*/
}